*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: gray;
}
.container{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    min-height: 100% ;
    height: 850px;
    display: grid;
    grid-template-columns: 300px  500px;

}
/* Mise en forme gauche et  droite*/

.left-side{
    position: relative;
    background-color: #003147;
    padding: 40px;
}
.rigth-side{
    position: relative;
    background-color: #fff;
    padding: 35px;
    line-height: 40px;
    
}
.profiltext .foto{
    display: flex;
    justify-content: center;
}

.profiltext .foto img{
    width: 150px;
    height: 150px;
    
    background-color: #fff;
    box-shadow: 6px 6px 6px;
    
}
.profiltext h2{
    color: #fff;
    padding: 20px;
    font-size: 1em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.profiltext h2 span{
    font-size: 0.6em;
    
}

/*Mise forme du contact*/

.icon{
font-size: 15px;
display: inline;
color: lightblue;
font-weight: 600;


}
.contact{
    color: #fff;
    text-transform: uppercase;
    padding: 2px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    display: inline;
}
.contact li {
    list-style: none;
}
.text{
    margin-left: 10px;
    font-size: 13px;
    text-transform: none;
    font-weight: normal;

}

/*Mise forme du formation*/

.titre{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;

}
.forma li{
    list-style: none;
    text-transform: none;
    font-weight: normal;

}
.texte{

    font-size: 13px;
    text-transform: none;
    font-weight: normal;
    
}
.forma{
    line-height: 35px;
    color: #fff;
}
.langue li{
    list-style: none;
    font-size: 13px;
}
.langue{
    line-height: 45px;
    color: #fff;
}

/*Mise forme du cote droite*/

.rigth-side li{
    list-style: none;
    line-height: 25px;
}
.skill .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 5fr;
    justify-content: center;
    align-items: center;
}
.skill .box h4{
    font-weight: 500;
    color: #003147;
    text-transform: uppercase;
}
.skill .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background:gray;
}
.skill .box .percent div{
    position: absolute;
  
    height: 100%;
    background-color:#003147;

}
.compe p li{
    line-height: 15px;
    margin-right: 15px;
}
.pro li{
    line-height: 200%;
    font-weight: 600;
}

/*responsive*/

@media screem and (max-width:700px){
    .rigth-side{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}
